/* ====Woocomerce===== */

.woocommerce .woocommerce-content {
  display: flex;

  margin-top: 100px;
}

.woocommerce .woocommerce-main-content {
  width: 75%; /* Adjust as needed */
}

.woocommerce .woocommerce-sidebar {
  width: 25%; /* Adjust as needed */
}

/* Loading spinner styles */
.loading-spinner {
  display: none;
  width: 50px;
  height: 50px;
  margin: 100px auto;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header .woocommerce-cart-icon {
  position: relative;
}

.header .cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red; /* Background color for the cart count bubble */
  color: rgb(12, 12, 12);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px; /* Adjust font size as needed */
}
